<h1>Вход в систему</h1>

<form onsubmit="LogIn(event)">
  <p><input type="text" id="username_input" name=" username" placeholder="имя пользователя" value=""></p>
  <p><input type="password" id="password_input" name="password" placeholder="пароль" value=""></p>

  <button type="submit">Войти</button> 
</form>

<script src="login_script.js"></script>
